/// <reference path="../partials/_all.scss"/>
/// <reference path="../../../node_modules/materialize-css/sass/materialize.scss"/>
html, body {
	font-family: 'Roboto', 'Helvetica', sans-serif;
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.bullet-points {
	margin: 0;
	padding: 0;
	list-style-position: inside;

	.bullet-points {
		margin-left: 1em;
	}
}

ul.browser-default li {
	list-style-type: initial;
}

.card-content-divided {
	@extend .card-content;
	border-top: 1px solid rgba(160, 160, 160, 0.2);
}

nav .nav-wrapper {
	padding: 0 16px;
}
footer {
	text-align: center;
}
#web-profiles {
	li {
		display: inline-block;
	}

	a {
		path, rect {
			fill: $web-profile-default-color;
		}

		&:hover, &:focus {
			path, rect {
				fill: #FFF;
			}
		}
	}
}

.work-summary {
	text-align: right;

	.keywords {
		text-align: right;
	}

	img {
		margin: 1em 0;
	}
}

@media #{$small-and-down} {
	.work-summary {
		text-align: center;

		.keywords {
			text-align: center;
		}
	}
}

.indent {
	text-indent: 2.5em;
}

.btn-large {
	@extend %no-select;
}

nav .nav-wrapper form,
nav .nav-wrapper form .input-field {
	height: 100%;
}

.nav-search {
	position: fixed;
	top: 56px;
	background: $search-color;

	.nav-wrapper {
		padding: 0;
	}

	.chip {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 4rem;
		min-width: 120px;
		text-align: center;
	}

	.chip + input[type=search] {
		padding-left: calc(4rem + 120px + 20px);
	}
}

.offset-nav-search {
	margin-top: 56px + 20px;
}

@media #{$medium-and-up} {
	.nav-search {
		top: 64px;
	}

	.offset-nav-search {
		margin-top: 64px + 20px;
	}
}

.side-nav {
	z-index: 1;
}

.chip {
	cursor: default;

	&.active {
		background: $chip-active-color;
		color: #FFFFFF;
	}

	&:not(.active):hover {
		background: $chip-hover-color;
	}
}

.modal-content {
	.chip {
		@extend %no-select;
		margin: 0.5em;
		min-width: 120px;
		text-align: center;
		cursor: pointer;
	}
}
