<h1>Contact me</h1>

<div class="markdown-body">
	<p><strong>Hi there,</strong></p>
	<p>Feel free to contact me about anything you think I&apos;d be interested in: projects, private questions/responses to my blog posts, videos, job opportunities, etc.</p>
	<p>You can hit me up on Twitter (<a href="https://twitter.com/OlsonDev">@@OlsonDev</a>) if you&apos;d like.</p>
	<p>Otherwise, rather than forcing private communication through a contact form, I&apos;ll give you my email and cell number. I&apos;ll likely read &amp; reply to your email, but I can&apos;t say the same for your phone call.</p>
	<p>Just one stipulation before I give you my private contact info, <em>prove to me you're not a robot:</em></p>
	<div id="grecaptcha"></div>
	<div id="contact-info" class="hidden">
		<p>Okay, thanks. Here you go:</p>
		<p>My email address is <a id="email">_____.___@@_____.com</a></p>
		<p>My phone number is <span id="phone">___.___.____</span></p>
	</div>
</div>

<script src="/scripts/captcha.js"></script>
<script async defer src="https://www.google.com/recaptcha/api.js?onload=renderCaptcha&render=explicit"></script>