<p>Contact</p>

<div id="grecaptcha"></div>
<p>My email address is <span id="email">_____.___@@_____.com</span></p>
<p>My phone number is <span id="phone">___.___.____</span></p>

<script src="/scripts/captcha.js"></script>
<script async defer src="https://www.google.com/recaptcha/api.js?onload=renderCaptcha&render=explicit"></script>