<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>@ViewData["Title"] | Josh Olson</title>
		<link type="text/css" rel="stylesheet" href="/css/styles.css"/>
	</head>
	<body class="controller-@ViewContext.RouteData.Values["controller"].ToString().ToLowerInvariant() action-@ViewContext.RouteData.Values["action"].ToString().ToLowerInvariant()">
		<header>
			<nav>
				<ul id="main-nav">
					<li><a href="/home">Home</a></li>
					<li><a href="/blog">Blog</a></li>
					<li><a href="/résumé">Résumé</a></li>
					<li><a href="/skills">Skills</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</nav>
		</header>
		<section id="content">@RenderBody()</section>
		<footer>
			<p id="copyright">&copy; @DateTime.Now.Year Josh Olson. All rights reserved.</p>
			<ul id="web-profiles">
				<li><a target="_blank" href="https://www.linkedin.com/in/olsondev" title="LinkedIn"><icon size="60" name="linkedin-box"/></a></li>
				<li><a target="_blank" href="https://www.github.com/olsondev" title="GitHub"><icon size="60" name="github-box"/></a></li>
				<li><a target="_blank" href="https://bitbucket.org/olson.dev/" title="BitBucket"><icon size="60" name="bitbucket"/></a></li>
				<li><a target="_blank" href="http://stackexchange.com/users/77825/olson-dev" title="StackExchange"><icon size="60" name="stackexchange"/></a></li>
				<li><a target="_blank" href="https://careers.stackoverflow.com/olsondev" title="StackOverflow Careers"><icon size="60" name="stackoverflow-separated"/></a></li>
			</ul>
		</footer>
	</body>
</html>