<div class="container">
	<div class="row">
		<div class="col s12 m12 l10 offset-l1">
			<div class="card">
				<div class="card-content">
					<div class="card-title">Mission statement</div>
					<p class="indent">
						I aim to gain a position with a company capable of providing me with challenging opportunities.
						I am passionate about my work and committed to staying on top of both the web and software development in general.
						Naturally, I prefer to work with like-minded individuals who share similar interests.
						I invest my time, effort, ideas, and so forth into my employer, helping them attain the goals they strive for.
					</p>
					<p class="indent">
						I’m open to new, different takes on ideas considered to be completely solved.
						I’m a strong advocate of object-oriented, reusable development using normalized data structures.
						I enjoy creating attractive, intuitive, and functional interfaces on the front-end but creating the robust, data-driven, secure back-end is always fun, too.
						I follow best practices wherever possible and consult with others to innovate/agree on new ones when there isn’t one established.
						Like most software developers, I prefer to work with a plan and timeline laid out beforehand.
						However, I understand business must be flexible and adaptive to stay ahead of the curve.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="work-summary triangle-head col s12 m5 l4 offset-l1">
			<div class="">
				<div class="card-content">
					<h4 class="card-title">Triangle Head LLC</h4>
					<img src="/work-history/triangle-head-transparent.png" width="99" height="100" class="responsive-img"/>
					<ol class="keywords">
						<li>C#</li>
						<li>ASP.NET MVC</li>
						<li>git</li>
						<li>Railo CFML</li>
						<li>MS T-SQL</li>
						<li>C++</li>
						<li>NodeJS</li>
						<li>RegExp</li>
						<li>HTML5</li>
						<li>Angular 2</li>
						<li>jQuery</li>
						<li>SASS</li>
						<li>Unreal Engine</li>
						<li>Unity Engine</li>
						<li>XNA</li>
						<li>SFML</li>
						<li>OpenGL</li>
					</ol>
				</div>
			</div>
		</div>

		<div class="col s12 m7 l6">
			<div class="card">
				<div class="card-content">
					<div class="card-title">Owner</div>
					<div>May 2014 - Current</div>
				</div>
				<div class="card-content-divided">
					<ul class="bullet-points browser-default">
						<li>Consulted for Snap Fitness Corporate</li>
						<li>Worked on independent projects</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="work-summary snap-fitness col s12 m5 l4 offset-l1">
			<div class="">
				<div class="card-content">
					<h4 class="card-title">Snap Fitness Corporate</h4>
					<img src="~/work-history/snap-fitness-transparent.png" width="283" height="71" class="responsive-img"/>
					<ol class="keywords">
						<li>C#</li>
						<li>WPF</li>
						<li>ASP.NET MVC</li>
						<li>Railo CFML</li>
						<li>MS T-SQL</li>
						<li>TomCat</li>
						<li>Java</li>
						<li>RegExp</li>
						<li>HTML5</li>
						<li>jQuery</li>
						<li>KnockoutJS</li>
						<li>Google Maps</li>
						<li>TinyMCE</li>
						<li>LESS</li>
						<li>SVN</li>
					</ol>
				</div>
			</div>
		</div>

		<div class="snap-fitness col s12 m7 l6">
			<div class="card">
				<div class="card-content">
					<div class="card-title">Senior Applications Developer</div>
					<div>September 2008 - January 2015</div>
				</div>
				<div class="card-content-divided">
					<ul class="bullet-points browser-default">
						<li>Built custom ColdFusion framework based on ASP.NET MVC</li>
						<li>Architected video kiosk WPF app, its sophisticated class scheduler, its admin backend, JSON REST webservices, &amp; MonoTorrent distribution system</li>
						<li>Prototyped kiosk features such as facial recognition, multiple video projectors, RabbitMQ messaging, MonogoDB storage, Chromium/Electron UI, etc.</li>
						<li>Integrated with Google Maps, Exact Target, Salesforce, Authorize.net, geocoding &amp; insurance partners</li>
						<li>Lead development on custom CMS used across multiple sites</li>
						<li>Developed several reusable UI components, substantially reducing boilerplate code</li>
						<li>Developed an email template scheduler for other apps to integrate with</li>
						<li>Maintained &amp; improved two custom SQL ORMs</li>
						<li>Helped implement databased sessions system, enabling a better load balancing experience</li>
						<li>Developed multi-tiered permission system</li>
						<li>Developed several CRUD apps; many with complex UIs, versioned data structures, permission-checks, etc.</li>
						<li>Developed budget builder app, replacing a VBA-heavy 30-sheet Excel workbook</li>
						<li>Migrated code &amp; data from MySQL to SQL Server</li>
						<li>Implemented i18n and translated entire site</li>
						<li>Rewrote complex Perl email batch process into a better, simpler ColdFusion scheduled task</li>
						<li>Developed ColdFusion plugins: Head Injector, Dependency Injection, Java &amp; Perl RegExp, Image Resizer, Captcha, System Status Manager &amp; Messenger, Excel export</li>
						<li>Optimized queries, pages, components, stored procedures, scheduled tasks, etc.</li>
						<li>Substantially improved code security &amp; robustness</li>
						<li>Developed uncaught exception handler, report, &amp; notification system to reduce downtime</li>
						<li>Implemented SES URL rewrite rules w/Helicon ISAPI Rewrite 2 &amp; 3</li>
						<li>Developed custom Tomcat servlets to support server-side LESS CSS &amp; fix HTTP headers for proper browser caching</li>
						<li><em>A lot more, both big and small&hellip;</em></li>
					</ul>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="work-summary tswd col s12 m5 l4 offset-l1">
			<div class="">
				<div class="card-content">
					<h4 class="card-title">Tim12 LLC</h4>
					<ol class="keywords">
						<li>CFML</li>
						<li>MS T-SQL</li>
						<li>RegExp</li>
						<li>jQuery</li>
						<li>VanillaJS</li>
						<li>CSS3</li>
						<li>SVN</li>
					</ol>
				</div>
			</div>
		</div>

		<div class="tswd col s12 m7 l6">
			<div class="card">
				<div class="card-content">
					<div class="card-title">Consultant / Web Applications Developer</div>
					<div>Q1 2006 - 2010, Part Time</div>
				</div>
				<div class="card-content-divided">
					<ul class="bullet-points browser-default">
						<li>Set up client websites using SiteEngine (proprietary CMS built with ColdFusion &amp; extensive AJAX)</li>
						<li>Created/edited content in SiteEngine admin per client’s requirements</li>
						<li>Created custom SiteEngine modules &amp; views per client’s requirements</li>
						<li>Extended SiteEngine’s base functionality (for all clients) by developing modules such as a configurable photo gallery</li>
						<li>Performed extensive cross-browser testing, proofread &amp; quality-checked sites after publication</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="work-summary analytics-inc col s12 m5 l4 offset-l1">
			<div class="">
				<div class="card-content">
					<h4 class="card-title">Analytics, Inc.</h4>
					<img src="~/work-history/analytics-inc-transparent.png" width="300" height="38" class="responsive-img"/>
					<ol class="keywords">
						<li>CFML</li>
						<li>MS T-SQL</li>
						<li>RegExp</li>
						<li>jQuery</li>
						<li>VanillaJS</li>
						<li>CSS3</li>
						<li>SVN</li>
						<li>Excel</li>
						<li>Visual Basic 6</li>
					</ol>
				</div>
			</div>
		</div>

		<div class="analytics-inc col s12 m7 l6">
			<div class="card">
				<div class="card-content">
					<div class="card-title">Data Analyst / Web Applications Developer, Claims Processor</div>
					<div>January 2007 - April 2008</div>
				</div>
				<div class="card-content-divided">
					<ul class="bullet-points browser-default">
						<li>Originally a Claims Processor, promoted to Data Analyst / Web Applications Developer</li>
						<li>Entered, processed, and manually valuated class action claims</li>
						<li>Generated potential duplicate claim reports, worked on and delegated portions of the report to others</li>
						<li>Analyzed bulk (10 million+ row) Excel broker claim form submissions and wrote scripts to automate cleanup for database import</li>
						<li>Assisted with building an Excel Interop app to greatly reduce manual labor involved in cleaning up bulk data for error-free database import</li>
						<li>Fixed software defects reported by custom uncaught error notification system</li>
						<li>Wrote custom, large SQL reports for all company departments</li>
						<li>Maintained and improved multiple apps</li>
						<li>Built &amp; integrated a documentation app within the main app to provide contextual help documents</li>
						<li>Optimized queries, pages, scheduled tasks, etc.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12 m5 l4 offset-l1">
			<div class="card">
				<div class="card-content">
					<div class="card-title">Education</div>
					<ul class="bullet-points browser-default">
						<li>
							Continually self-taught via:
							<ul class="bullet-points browser-default">
								<li>Google</li>
								<li>Pluralsight</li>
								<li>Lynda.com</li>
								<li>Stack Overflow</li>
								<li>Stack Exchange</li>
								<li>YouTube</li>
								<li>3DBuzz</li>
								<li>Coworkers/friends in the field</li>
							</ul>
						</li>
						<li>Brown College, 2006, "A" Grades</li>
						<li>Somerset High School, 2005, 3.95 GPA (unweighted)</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="col s12 m7 l6">
			<div class="card">
				<div class="card-content">
					<div class="card-title">References</div>
					<p>Contact information available upon request</p>
				</div>
				<div class="card-content-divided">
					<div>Brandon Simondet</div>
					<div>Director of IT, previously Senior Web Application Developer</div>
					<div>Snap Fitness Corporate</div>
				</div>
				<div class="card-content-divided">
					<div>Tim Schottler</div>
					<div>Senior Software Architect / Senior Web Developer</div>
					<div>Snap Fitness Corporate / Analytics, Inc. / Tim12 LLC</div>
				</div>
			</div>
		</div>
	</div>
</div>