<h1>Josh Olson</h1>

<section id="my-focuses">
	<h2>My Focuses</h2>
	<ul>
		<li><div><icon size="60" name="web" /></div><span>Browser</span></li>
		<li><div><icon size="60" name="server" viewBox="-2 -2 28 28" /></div><span>Server</span></li>
		<li><div><icon size="60" name="database" /></div><span>Database</span></li>
		<li><div><icon size="60" name="desktop-mac" viewBox="-1 -2 26 26" /></div><span>Desktop</span></li>
		<li><div><icon size="60" name="desktop-tower" /></div><span>Hardware</span></li>
		<li><div><icon size="60" name="led-variant-outline" /></div><span>Electronics</span></li>
	</ul>
</section>

<section id="mission-statement">
	<h2>Mission Statement</h2>
	<div>
		<p>
			I aim to gain a position with a company capable of providing me with challenging opportunities.
			I am passionate about my work and committed to staying on top of both the web and software development in general.
			Naturally, I prefer to work with like-minded individuals who share similar interests.
			I invest my time, effort, ideas, and so forth into my employer, helping them attain the goals they strive for.
		</p>
		<p>
			I’m open to new, different takes on ideas considered to be completely solved.
			I’m a strong advocate of object-oriented, reusable development using normalized data structures.
			I enjoy creating attractive, intuitive, and functional interfaces on the front-end but creating the robust, data-driven, secure back-end is always fun, too.
			I follow best practices wherever possible and consult with others to innovate/agree on new ones when there isn’t one established.
			Like most software developers, I prefer to work with a plan and timeline laid out beforehand.
			However, I understand business must be flexible and adaptive to stay ahead of the curve.
		</p>
	</div>
</section>

<section id="work-history">
	<h2>Work History</h2>
	<div>
		<h3>Triangle Head LLC</h3>
		<p class="date-range">May 2014 - Current</p>
		<h4>Owner</h4>
		<ul class="bullet-points">
			<li>Consulted for Snap Fitness Corporate</li>
			<li>Worked on independent projects</li>
		</ul>
		<ol class="keywords">
			<li>C#</li>
			<li>ASP.NET MVC</li>
			<li>Railo CFML</li>
			<li>MS T-SQL</li>
			<li>NodeJS</li>
			<li>RegExp</li>
			<li>HTML5</li>
			<li>Angular 2</li>
			<li>jQuery</li>
			<li>SASS</li>
			<li>Unreal Engine</li>
			<li>Unity Engine</li>
			<li>XNA</li>
			<li>SFML</li>
			<li>OpenGL</li>
			<li>C++</li>
			<li>git</li>
			<li>hg</li>
		</ol>
	</div>

	<div>
		<h3>Snap Fitness Corporate</h3>
		<p class="date-range">September 2008 - January 2015</p>
		<h4>Senior Applications Developer</h4>
		<ol class="keywords">
			<li>C#</li>
			<li>WPF</li>
			<li>ASP.NET MVC</li>
			<li>Railo CFML</li>
			<li>MS T-SQL</li>
			<li>TomCat</li>
			<li>Java</li>
			<li>RegExp</li>
			<li>HTML5</li>
			<li>jQuery</li>
			<li>KnockoutJS</li>
			<li>Google Maps</li>
			<li>TinyMCE</li>
			<li>LESS</li>
			<li>SVN</li>
		</ol>
	</div>

	<div>
		<h3>Tim Schottler Web Development</h3>
		<p class="date-range">Q1 2006 - 2010, Part Time</p>
		<h4>Consultant / Web Applications Developer</h4>
		<ol class="keywords">
			<li>CFML</li>
			<li>MS T-SQL</li>
			<li>RegExp</li>
			<li>jQuery</li>
			<li>VanillaJS</li>
			<li>CSS3</li>
			<li>SVN</li>
		</ol>
	</div>

	<div>
		<h3>Analytics, Inc.</h3>
		<p class="date-range">January 2007 to April 2008</p>
		<h4>Data Analyst / Web Applications Developer, Claims Processor</h4>
		<ol class="keywords">
			<li>CFML</li>
			<li>MS T-SQL</li>
			<li>RegExp</li>
			<li>jQuery</li>
			<li>VanillaJS</li>
			<li>CSS3</li>
			<li>SVN</li>
			<li>Excel</li>
			<li>Visual Basic 6</li>
		</ol>
	</div>
</section>

<section id="education">
	<h2>Education</h2>
	<div>
		<ol id="education-sources">
			<li>
				Rigorously self-taught via:
				<ul id="education-self-taught-sources">
					<li>Google</li>
					<li>Pluralsight</li>
					<li>Lynda.com</li>
					<li>Stack Overflow</li>
					<li>Stack Exchange</li>
					<li>YouTube</li>
					<li>3DBuzz</li>
					<li>Coworkers/friends in the field</li>
				</ul>
			</li>
			<li>Brown College, 2006, "A" Grades</li>
			<li>Somerset High School, 2005, 3.95 GPA (unweighted)</li>
		</ol>
	</div>
</section>

<section id="references">
	<h2>References</h2>
	<div>
		<h3>Brandon Simondet</h3>
		<h4>Director of IT, previously Senior Web Application Developer</h4>
		<h4>Snap Fitness Corporate</h4>
		<p>Contact information available upon request</p>
	</div>

	<div>
		<h3>Tim Schottler</h3>
		<h4>Senior Software Architect / Senior Web Developer</h4>
		<h4>Snap Fitness Corporate / Analytics, Inc. / Tim Schottler Web Development</h4>
		<p>Contact information available upon request</p>
	</div>
</section>