html {
	box-sizing: border-box;
	font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
}

*, *::before, *::after {
	box-sizing: inherit;
}

html, body {
	height: 100%;
	background: $bg-color;
	color: $text-color;
}

body {
	overflow-y: scroll;
}

li {
	display: inline-block;
}

#main-nav, #web-profiles {
	text-align: center;

	li {
		a {
			color: $header-footer-text-color;
			text-decoration: none;
			display: block;
			padding: 10px 0;
			width: 100%;
			text-align: center;
		}
	}
}

#main-nav {
	li {
		width: 150px;

		a {
			&:hover, &:focus {
				background: rgba($accent-color, 0.2);
			}
		}
	}
}

body > header {
	background: $bg-header-footer;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: $header-height;
	z-index: 1;
	box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.5);
}

body > footer {
	text-align: center;
	padding: 20px 0;
	box-shadow: 0 -5px 15px 5px rgba(0, 0, 0, 0.6);
	color: $header-footer-text-color;
	background: $bg-header-footer;
	height: $footer-height;
}

#content {
	padding: ($header-height + 25px) 10px 10px;
	min-height: 100%;
	margin: 0 auto (-$footer-height);
	background: $bg-content;

	&::after {
		content: '';
		display: block;
		height: $header-height + $footer-height;
	}

	> h1 {
		text-align: center;
		font-size: 40px;
		padding: 20px;
		background: #fff;
		border: 1px solid $divider-color;
		box-shadow: 4px 4px 12px -1px rgba(0, 0, 0, 0.4);
	}

	> * {
		width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
}

.bullet-points {
	list-style: disc inside;
	margin: 20px 0;
	line-height: 1.2em;

	li {
		display: list-item;
	}
}

#web-profiles {
	a {
		svg {
			path, rect {
				fill: $web-profile-default-color;
			}
		}

		&:hover, &:focus {
			svg {
				path {
				}

				&.icon-linkedin-box {
					path {
						fill: $linkedin-blue;
					}
				}

				&.icon-github-box {
					path {
						fill: $github-purple;
						stroke: lighten($github-purple, 15%);
						stroke-width: 0.5px;
					}
				}

				&.icon-bitbucket {
					path {
						fill: $bitbucket-blue;
						stroke: lighten($bitbucket-blue, 15%);
						stroke-width: 0.5px;
					}
				}

				&.icon-stackexchange {
					g {
						> * {
							stroke: #aaa;
							stroke-width: 0.1px;
						}

						:nth-child(1) {
							fill: #84d2e9;
						}

						:nth-child(2) {
							fill: url(#stackexchange-gradient-a);
						}

						:nth-child(3) {
							fill: url(#stackexchange-gradient-b);
						}

						:nth-child(4) {
							fill: url(#stackexchange-gradient-c);
						}
					}
				}

				&.icon-stackoverflow-separated {
					path:first-child {
						fill: $stackoverflow-grey;
					}

					path:last-child {
						fill: $stackoverflow-orange;
					}
				}
			}
		}
	}
}
