html {
	box-sizing: border-box;
	font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	background: $black;
	color: $white;
}

li {
	display: inline-block;
}

#main-nav, #web-profiles {
	text-align: center;

	li {
		a {
			color: #fff;
			text-decoration: none;
			display: block;
			padding: 10px 0;
			width: 100%;
			text-align: center;
		}
	}
}

#main-nav {
	li {
		width: 150px;

		a {
			&:hover, &:focus {
				background: $gold;
			}
		}
	}
}

#web-profiles {
	a {
		svg {
			path, rect {
				fill: $white;
			}
		}
		&:hover, &:focus {
			svg {
				&.icon-linkedin-box {
					path {
						fill: $linkedin-blue;
					}
				}

				&.icon-github-box {
					path {
						fill: $github-purple;
					}
				}

				&.icon-bitbucket {
					path {
						fill: $bitbucket-blue;
					}
				}

				&.icon-stackexchange {
					g {
						:nth-child(1) { fill: #84d2e9; }
						:nth-child(2) { fill: url(#stackexchange-gradient-a); }
						:nth-child(3) { fill: url(#stackexchange-gradient-b); }
						:nth-child(4) { fill: url(#stackexchange-gradient-c); }
					}
				}

				&.icon-stackoverflow-separated {
					path:first-child {
						fill: $stackoverflow-grey;
					}

					path:last-child {
						fill: $stackoverflow-orange;
					}
				}
			}
		}
	}
}

header, footer {
	background: #000;
}

footer {
	padding: 10px 0;
}

#content {
	padding: 10px;
}