$header-footer-text-color: #FFFFFF;
$accent-color: #1976D2;
$text-color: #212121;
$text-color-secondary: #727272;
$divider-color: #B6B6B6;

$code-black: #222222;
$code-white: #FFFFFF;
$code-grey: #5D5D5D;
$code-lightgrey: #AAAAAA;

$code-gold: #ABA47A;
$code-brown: #BA7344;

$code-red: #D6243B;
$code-orange: #C24D43;
$code-yellow: #DBA62E;
$code-green: #528061;
$code-blue: #4184A8;
$code-purple: #5957B9;

$github-purple: #59297C;
$linkedin-blue: #007AB5;
$bitbucket-blue: #1F5081;
$stackexchange-blue: #58B4F2;
$stackoverflow-grey: #BCBBBB;
$stackoverflow-orange: #F48024;

$bg-color: #EEEEEE;

$web-profile-default-color: $header-footer-text-color;

$header-height: 36px;
$footer-height: 150px;

$focuses-bg-color: $accent-color;
$focuses-color: #FFFFFF;

$keywords-color: $code-lightgrey;

$bg-header-footer: url(/images/dark_wall.png);
$bg-content: url(/images/textured_paper.png);