$gold: #ABA47A;
$black: #222222;
$grey: #5D5D5D;
$red: #D6243B;
$orange: #C24D43;
$yellow: #DBA62E;
$green: #528061;
$blue: #4184A8;
$purple: #5957B9;
$white: #FFFFFF;

$github-purple: #59297C;
$linkedin-blue: #007AB5;
$bitbucket-blue: #1F5081;
$stackexchange-blue: #58B4F2;
$stackoverflow-grey: #BCBBBB;
$stackoverflow-orange: #F48024;