/// <reference path="../partials/_all.scss"/>
.controller-blog.action-admin {
	form {
		@extend %lifted-white-box;

		> div.field {
			min-height: 40px;
			margin-top: 1em;

			&:first-child {
				margin-top: 0;
			}

			> label, > input {
				display: inline-block;
				vertical-align: top;
				height: 40px;
				line-height: 40px;
				width: 160px;
			}

			> input, > textarea {
				width: 598px;
			}

			> textarea {
				height: 40em;
			}
		}

		> div.buttons {
			margin: 1em 160px;

			> button {
				border: none;
				background: $accent-color;
				color: #fff;
				height: 50px;
				padding: 0 2em;
				margin-left: 1em;
				@extend %no-select;

				&:first-of-type {
					margin-left: 0;
				}

				&:hover, &:focus {
					background: lighten($accent-color, 10%);
					box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
				}

				&:active {
					background: darken($accent-color, 10%);
				}

				&:disabled {
					background: $disabled-color;
					box-shadow: none;
				}
			}
		}
	}
}
.ptr-1, .ptr-2, .ptr-3 {
	padding: 4px;
	color: #FFF;
	border-radius: 2px;
	white-space: nowrap;
}
.ptr-1 {
	background: #F00;
}
.ptr-2 {
	background: #FC0;
	color: #000;
}
.ptr-3 {
	background: #00B3FF;
}