/// <reference path="../partials/_all.scss"/>
.snap-fitness, .analytics-inc {
	.mdl-card__title {
		min-height: 150px;
		height: 20vw;
		max-height: 334px;
		color: #fff;
		text-shadow: 1px 1px 1px #000;
		margin-bottom: 16px;
	}
}

.snap-fitness {
	.mdl-card__title {
		background: url(/work-history/card-snap-fitness.jpg) center / cover;
	}
}

.analytics-inc {
	.mdl-card__title {
		background: url(/work-history/card-analytics-inc.jpg) center / cover;
	}
}

.mdl-card__media {
	background-color: transparent;
	img {
		margin-left: 16px;
	}
}

.education {
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		ul {
			margin-left: 1em;
		}
	}
}