/// <reference path="../partials/_all.scss"/>
#skill-search {
	top: 64px + 64px - (55.5px / 2);
	bottom: auto;
	right: 24px;
	transform: translateX(-50%);
	padding: 0;
	z-index: 10000;
}

#tag-filter-modal {
	top: 64px + 64px !important;
	bottom: auto !important;
}

@media #{$small-and-down} {
	#skill-search {
		top: 56px + 56px - (55.5px / 2);
	}

	#tag-filter-modal {
		top: 56px + 56px !important;
	}
}

#skills {
	margin-left: auto;
	margin-right: auto;
	text-align: center;

	.col {
		min-width: calc(198px + 40px + 1.50rem);
		display: inline-block;
		float: none;
	}

	.card {
		text-align: center;

		.card-title {
			line-height: 36px;
			font-size: 18px;
		}

		&:hover {
			.rating {
				visibility: visible;
			}
		}

		.icon-container {
			height: 60px;
			width: 100%;
			display: flex;
		}

		.icon {
			margin: auto;
		}

		.rating {
			display: inline-block;
			visibility: hidden;
			width: 198px;
			height: 10px;
			margin: 20px 0 0;
			background-image: url(/svg/rating.svg);
			background-repeat: no-repeat;
		}

		@for $i from 1 through 5 {
			.rating-#{$i} {
				background-position: 0 ($i * -11px);
			}
		}
	}
}

@media #{$medium-and-down} {
	#skills {
		.card {
			.rating {
				visibility: visible;
			}
		}
	}
}
