#skills {
	li {
		vertical-align: top;
		width: 240px;
		height: 148px;
		margin: 5px;
		padding: 20px;
		background-color: rgba(255,255,255,0);
		border: 1px solid rgba($md-divider-color, 0);
		text-align: center;
		transition: border-color 166ms 333ms, background-color 166ms 333ms, box-shadow 333ms ease-in;

		&:hover {
			transition: border-color 166ms, background-color 166ms, box-shadow 333ms 83ms;
			background-color: rgba(255,255,255,1);
			border-color: $md-divider-color;
			box-shadow: 4px 4px 12px -1px rgba(0, 0, 0, 0.4);

			.rating {
				display: block;
			}
		}

		.icon {
			background: #AAA;
			margin: 0 auto;
			border-radius: 40%;
			height: 60px;
			width: 60px;
		}

		h3 {
			font-weight: bold;
			margin: 10px 0;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		.rating {
			display: none;
			width: 198px;
			height: 10px;
			background-image: url(/svg/rating.svg);
			background-repeat: no-repeat;
			background-size: cover;
		}

		@for $i from 1 through 5 {
			.rating-#{$i} {
				background-position: 0 ($i * -11px);
			}
		}
	}
}
