#skills-filter {
	@extend %lifted-white-box;
	width: 800px;
	margin: 0 auto 10px;
	padding: 0;
	
	header {
		padding: 20px;

		a {
			color: $text-color;
			position: relative;
			width: 100%;
			display: block;
		}

		.icon-filter-outline {
			margin-right: 10px;
		}

		* {
			display: inline-block;
			vertical-align: middle;
			font-weight: bold;
		}

		.icon-chevron-up, .icon-chevron-down {
			position: absolute;
			right: 0;
		}
	}

	form {
		transform: scaleY(0);
		transform-origin: top;
		transition: all 166ms;
		padding: 0 20px;
		height: 0;

		h3 {
			font-style: italic;
		}
	}

	.icon-chevron-up {
		display: none;
	}

	&.expanded {
		.icon-chevron-down {
			display: none;
		}

		.icon-chevron-up, form {
			display: inline-block;
		}

		form {
			transform: scaleY(1);
			padding: 20px;
			height: auto;
		}

		header {
			border-bottom: 1px solid $divider-color;
		}
	}

	input[type=search] {
		width: 660px;
		height: 37px;
		padding: 10px;
		margin: 10px 0 0;
		border: 1px solid transparent;

		&:hover, &:focus {
			border-bottom-color: $divider-color;
		}
	}

	li {
		-moz-user-select: none;
		-webkit-user-select: none;
		user-select: none;
		padding: 10px;
		border: 1px solid $divider-color;
		margin: 10px;
		cursor: pointer;

		&.active {
			color: #fff;
			background: $accent-color;
			border-color: $accent-color;
		}
	}
}

#skills {
	width: 5 * (240px + 2 * 5px);
	margin-left: auto;
	margin-right: auto;
	text-align: center;

	li {
		@extend %white-box;
		vertical-align: top;
		width: 240px;
		height: 148px;
		margin: 5px;
		transition: border-color 166ms 333ms, background-color 166ms 333ms, box-shadow 333ms ease-in;
		line-height: 1;

		&.filtered {
			display: none;
		}

		&:hover {
			transition: box-shadow 333ms 83ms;
			box-shadow: 4px 4px 12px -1px rgba(0, 0, 0, 0.4);

			.rating {
				display: block;
			}
		}

		.icon-container {
			height: 60px;
			width: 198px;
			display: flex;
		}

		.icon {
			margin: auto;
		}

		h3 {
			font-weight: bold;
			margin: 10px 0;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		.rating {
			display: none;
			width: 198px;
			height: 10px;
			background-image: url(/svg/rating.svg);
			background-repeat: no-repeat;
			background-size: cover;
		}

		@for $i from 1 through 5 {
			.rating-#{$i} {
				background-position: 0 ($i * -11px);
			}
		}
	}
}

#clear-filters {
	background: #D32F2F;
	padding: 10px;
	border: 1px solid #D32F2F;
	color: #fff;
	display: block;
	position: absolute;
	bottom: 20px;
	right: 20px;
	width: 100px;
}
