<meta name="google-signin-client_id" content="222843551935-4s675nmoaasqds0u9eqs7ociqd8q7utb.apps.googleusercontent.com"/>
<h1>Blog admin</h1>

<div id="signin"></div>

<script src="/scripts/blog-admin.js"></script>
<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>