@model IEnumerable<PersonalWebApp.Models.Conceptual.BlogEntry>

<div class="container">
	<div class="row">
		@foreach (var blogEntry in Model) {
			@Html.Partial("_BlogEntry", blogEntry)
		}
	</div>
</div>

@section Styles {
	<link rel="stylesheet" href="/highlight/styles/vs.css">
}

@section Scripts {
	<script src="/highlight/highlight.pack.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
}