@model IEnumerable<PersonalWebApp.Models.Conceptual.BlogEntry>
@{ 
	var renderBlogContent = !ViewData.ContainsKey("RenderBlogContent") || ViewData["RenderBlogContent"].Equals(true);
}
<div class="container">
	<div class="row">
		@foreach (var blogEntry in Model) {
			@Html.Partial("_BlogEntry", blogEntry)
		}
	</div>
</div>

@if (renderBlogContent) {
	@section Styles {
		<link rel="stylesheet" href="/highlight/styles/vs.css">
	}

	@section Scripts {
		<script src="/highlight/highlight.pack.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
	}
}